body {
  padding-top: 50px;
}

.login-form > div {
    margin-top: 10px;
}

.flashed-message {
    text-align: center;
}

.strikethrough {
    text-decoration: line-through;
}

#pageLeft {
    float: left;
}

#pageRight {
    float: right;
}